.hamburger {
  width: 48px;
  height: 36px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border-width: 8px 0px 8px 14px;
  border-color: transparent;
}

.slice {
  height: 4px;
  width: 100%;
}
.cms-nav-links {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  top: 0;
  left: -300vw;
  transition: 0.3s ease-in;
  display: flex;
  flex-direction: column;
}

.active {
  left: 0;
  transition: 0.3s ease-out;
}
